@import "~vtex-css-utils/less/_css-utils";

.NavigationMenuButton {
  border-bottom: 1px solid lighten(#014673, 5%);
  background-color: #fff;
  padding: 1em 30px 1em 40px;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: #f2f3f4;
  }

  &__name {
    color: #003b5e;
  }

  &__button-symbol {
    .css-utils-clean-btn();
    .css-utils-no-outlines();
    float: right;
  }
}
